/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Colors Used 
Headings: #ff4136
Text:  #5b5e60
Background: #eee
Menu: #000008;
Flexbox Background: #f1f1f1
*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Space Mono', Courier, monospace;
	background-color: #eee;
	color: #5b5e60;
	line-height: 24px;
	font-size: 16px;
	scrollbar-width: thin;
	scrollbar-color: var(--headings-color);
	height: 100vh;
}

h1 {
	font-family: 'BioRhyme', serif;
	color: #ff4136;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
}

/* Nav menu styling */
.nav-menu {
	text-align: center;
	vertical-align: middle;
	float: right;
	padding: 8px;
	margin: 16px 0;
}

.nav-menu li {
	padding: 8px;
	display: inline;
	text-decoration: none;
	font-size: 16px;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

/* Adds text color to links */
a {
	color: #000008;
	text-decoration: none;
}

/* Header styling*/
.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-left: 32px;
	padding-right: 32px;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom: 1px;
}

.page-header__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 200px;
	flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: right;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
	font-size: 16px;
}

/* Work styling */
.projects-list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 16px 32px;
}

.projects-item {
	padding: 10px;
	background-color: #f1f1f1;
}

/* Grid fallback */
@supports (display: grid) {
	.projects-list {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0;
	}

	.projects-item {
		background-color: #f1f1f1;
		width: auto;
		min-height: auto;
		margin: 0;
	}
}

.projects-item:hover {
	border: 1px solid;
	padding: 10px;
	box-shadow: 10px 10px 8px #5b5e60;
	transition-duration: 0.1s;
}

/* Pseudo states for links */
a:visited {
	color: #000008;
}

a:hover,
a:focus {
	color: #000008;
}

.button:hover {
	background-color: #ff4136;
	opacity: 0.8;
	color: #eee;
}

.button:focus {
	color: #eee;
}

a:active {
	color: #30475e;
}

/* Button styling */
.button {
	background-color: #5b5e60;
	color: #eee;
	cursor: pointer;
	padding: 14px 40px;
	margin: 10px 0;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	font-family: inherit;
	border: none;
	text-decoration: none;
	border-radius: 15px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.8s opacity ease-in-out;
	-o-transition: 0.8s opacity ease-in-out;
	transition: 0.8s opacity ease-in-out;
}

/* Form Styling */
.form-container {
	position: relative;
	transform: translateY(3%);
	width: 100%;
	padding: 0 20px;
}

.contact-form {
	font-family: 'Space Mono';
	max-width: 550px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.8);
	padding: 30px;
	border-radius: 5px;
	display: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.input-fields {
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}

.input-fields,
.message-container {
	width: 48%;
}

.input-fields #form-first-name,
#form-last-name,
#form-email,
.message-container textarea {
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #00bfff;
	padding: 10px;
	color: #00bfff;
	width: 100%;
	font-weight: 500;
}

.message-container textarea {
	height: 151px;
}

::-webkit-input-placeholder {
	color: #00bfff;
}

::-moz-input-placeholder {
	color: #00bfff;
}

::-ms-input-placeholder {
	color: #00bfff;
}

::-website-input-autofill-selected {
	background-color: transparent;
}

.contact-button {
	background: #af0069;
	text-align: center;
	padding: 15px;
	border-radius: 15px;
	color: #eee;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 400;
}

/* Table styling */
table {
	table-layout: fixed;
	width: 50%;
	border-collapse: collapse;
	border: 3px solid #5b5e60;
}

th,
td {
	padding: 20px;
}

thead th {
	font-family: 'BioRhyme', serif;
}

th {
	letter-spacing: 2px;
}

td {
	letter-spacing: 1px;
}

tbody {
	font-family: 'Space Mono', Courier, monospace;
	text-align: center;
}

td {
	font-family: 'Space Mono', Courier, monospace;
	text-align: center;
}

/* Profile styling */
.profile {
	max-width: 700px;
	margin: 0 auto;
}

.profile-portrait {
	float: left;
	height: auto;
	margin-right: 40px;
}

/* About me styling*/
.hobbies {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#space-boy {
	margin: 0 auto;
	text-align: center;
	display: block;
}

/* Footer styling */

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}

/* Animation */

@-webkit-keyframes color-change-inner {
	0% {
		fill: #edc655;
	}
	100% {
		fill: #fcffad;
	}
}

@keyframes color-change-inner {
	0% {
		fill: #edc655;
	}
	100% {
		fill: #fcffad;
	}
}

@-webkit-keyframes color-change-outer {
	0% {
		fill: #db9e36;
	}
	100% {
		fill: #f76414;
	}
}

@keyframes color-change-outer {
	0% {
		fill: #db9e36;
	}
	100% {
		fill: #f76414;
	}
}

/* Rocket flame animation */
#inner-flame {
	-webkit-animation: color-change-inner 4s infinite alternate linear;
	animation: color-change-inner 4s infinite alternate linear;
}

#outer-flame {
	-webkit-animation: color-change-outer 2s infinite alternate linear;
	animation: color-change-outer 2s infinite alternate linear;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

/* Cloud animation */
#right-cloud {
	-webkit-animation: right-cloud-move 10s infinite alternate linear;
	animation: right-cloud-move 10s infinite alternate linear;
}

#left-cloud {
	-webkit-animation: left-cloud-move 10s infinite alternate linear;
	animation: left-cloud-move 10s infinite alternate linear;
}

#blue-clouds {
	-webkit-animation: blue-clouds-vert 5s infinite alternate linear;
	animation: blue-clouds-vert 5s infinite alternate linear;
}

#white-clouds {
	-webkit-animation: white-clouds-vert 5s infinite alternate linear;
	animation: white-clouds-vert 5s infinite alternate linear;
}

#rocket-ship {
	-webkit-animation: rocket-blast-off 2s infinite linear;
	animation: rocket-blast-off 2s infinite linear;
}

/* Animations */

@-webkit-keyframes right-cloud-move {
	from {
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
	}
	to {
		-webkit-transform: translate(50px, 20px);
		transform: translate(50px, 20px);
	}
}

@keyframes right-cloud-move {
	from {
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
	}
	to {
		-webkit-transform: translate(50px, 20px);
		transform: translate(50px, 20px);
	}
}

@-webkit-keyframes left-cloud-move {
	from {
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
	}
	to {
		-webkit-transform: translate(70px, 20px);
		transform: translate(70px, 20px);
	}
}

@keyframes left-cloud-move {
	from {
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
	}
	to {
		-webkit-transform: translate(70px, 20px);
		transform: translate(70px, 20px);
	}
}

@-webkit-keyframes blue-clouds-vert {
	from {
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
	}
	to {
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
}

@keyframes blue-clouds-vert {
	from {
		-webkit-transform: translate(0, 20px);
		transform: translate(0, 20px);
	}
	to {
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
}

@-webkit-keyframes white-clouds-vert {
	from {
		-webkit-transform: translate(0, 90px);
		transform: translate(0, 90px);
	}
	to {
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
}

@keyframes white-clouds-vert {
	from {
		-webkit-transform: translate(0, 90px);
		transform: translate(0, 90px);
	}
	to {
		-webkit-transform: translate(0, 60px);
		transform: translate(0, 60px);
	}
}

@-webkit-keyframes rocket-blast-off {
	0% {
		-webkit-transform: rotate(30deg) translate(0, 50%);
		transform: rotate(30deg) translate(0, 50%);
	}
	100% {
		-webkit-transform: translate(0, -60%);
		transform: translate(0, -60%);
	}
}

@keyframes rocket-blast-off {
	0% {
		-webkit-transform: rotate(30deg) translate(0, 50%);
		transform: rotate(30deg) translate(0, 50%);
	}
	100% {
		-webkit-transform: translate(0, -60%);
		transform: translate(0, -60%);
	}
}

/* Media queries */

@media all and (max-width: 500px) {
	.projects-list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.page-header__item {
		width: 150px;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.projects-list {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.projects-list {
		grid-gap: 10px;
	}

	.projects-item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1 {
		font-size: 35px;
	}
}

/* Media for form */
@media all and (max-width: 600px) {
	.contact-form {
		flex-direction: column;
	}
	.message-container textarea {
		height: 80px;
	}
	.input-fields,
	.message-container {
		width: 100%;
	}
}
